<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sajiloprint.dashboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logos"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ItemsList"></activity>
        <activity android:name=".Orderitems" />
        <activity android:name=".Orders" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/DarkTheme" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".AddCardview"
            android:theme="@style/DarkTheme" />
        <activity android:name=".AddSubCard" />
        <activity android:name=".models.SearchBarActivity" />
        <activity android:name=".DeleteSubCard" />
        <activity android:name=".models.ProductView" />
        <activity android:name=".DeleteCardView" />
        <activity android:name=".DeleteSubCardView" />
        <activity android:name=".AddPhotoSubCard" />
        <activity
            android:name="com.sajiloprint.multipleimageselect.activities.AlbumSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme" />
        <activity
            android:name="com.sajiloprint.multipleimageselect.activities.ImageSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme" />
        <activity android:name="com.sajiloprint.multipleimageselect.activities.HelperActivity" />
        <activity android:name=".EditSubCard" />
    </application>

</manifest>